<% provide(:title, "About me") %>

<div id="coverpic">
</div>

<div id="about" class="main-style-1">
<h2>Bio</h2>
<p>
I am Han Yang Tay, student at <%= link_to "Wesleyan University", "http://www.wesleyan.edu/", target: "_blank", rel: "noopener" %>
pursuing a double major in Computer Science and Psychology.  I am a nerd. I code. I solve problems or get wrecked by them. </p>

<p>
One day, I hope to solve the mystery of the human mind by designing better computational models.
But for now, I'll learn from the puzzle pieces in order to build smarter algorithms and systems. </p>

<p> Whenever I'm not banging my head on my computer, I play the guitar and make up stories behind every passing stranger,
thinking perhaps one day our stories would intersect.</p>

<p>Actively seeking an internship in any of the following fields: <br /> Computer Science, AI, Cognitive Science, Computational Psychology</p>
<br />
<h2>Contact</h2>

<p> Feel free to chat with me at <%= mail_to "htay@wesleyan.edu" %>, or stalk me at any link listed in the footer.
Thanks for visiting, I'd love to get to know you.
</p>
    
    
    
</div>