<% provide(:title, "About me") %>

<div id="coverpic">
</div>

<div id="about" class="main-style-3">
<h2>Bio</h2>
<p>
I am Han Yang Tay, student at <%= link_to "Wesleyan University", "http://www.wesleyan.edu/", target: "_blank", rel: "noopener" %>
pursuing a double major in Computer Science and Psychology. Here's what I do: </p>
<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--3-col about-left">
      <div class="about-icon" id="about-think">
      <i class="material-icons">timeline</i>
      </div>
      <span id="about-think-title">THINK</span>
  </div>

  <div class="mdl-cell mdl-cell--9-col about-text">
    I am a nerd. I think. I solve problems.
    <br />Faced with wicked problems, I dissect them, leave them to ferment in my mind, and when I get desperate, rig them up with explosives. 
    <br />Or usually, I just get wrecked by them.  
  </div>

</div>

<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--3-col about-left">
      <div class="about-icon" id="about-code">
      <i class="material-icons">code</i>
      </div>
     <span id="about-code-title">CODE</span>
  </div>
  
  <div class="mdl-cell mdl-cell--9-col about-text">
    Thinking exists in a vacuum, but code enables me to bring my ideas into reality. 
    <br />I love to build, that's why I love to code. 
  </div>

</div>

<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--3-col about-left">
      <div class="about-icon" id="about-observe">
      <i class="material-icons">visibility</i>
      </div>
      <span id="about-observe-title">OBSERVE</span>
  </div>
  
  <div class="mdl-cell mdl-cell--9-col about-text">
    That's how I learn. <br />I like observing people, find out what moves each of us, and hear about each of our little quaint stories. <br />
    I observe myself a lot, and do wonder why I am so weird.
  </div>

</div>
<p></p>
<p> Whenever I'm not banging my head on my computer, I play the guitar and make up stories behind every passing stranger,
thinking perhaps one day our stories would intersect.</p>

<p>Actively seeking an internship in any of the following fields: <br /> Computer Science, AI, Cognitive Science, Computational Psychology</p>
<br />
<h2>Contact</h2>

<p> Feel free to chat with me at <%= mail_to "htay@wesleyan.edu" %>, or stalk me at any link listed in the footer.
<br /> Thanks for visiting, I'd love to get to know you.
</p>
    
    
    
</div>