<% provide(:title, "Home") %>
<div class="main-style-1">
  
<span class="center-text">
    <%= image_tag("personal/hy.png", alt: "han yang's profile", id: "profile", class: "center-image") %>
  <h1> Hi. </h1>
  </span>

<p id="tagline">
My name is everywhere on this page. <br />
Welcome to my coding playground.


<br /><br /><br />

<%= link_to about_path do %>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    About me
  </button>
<% end %>

&nbsp; &nbsp;

<%= link_to projects_path do %>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    portfolio
  </button>
<% end %>

</p>

</div>