<% provide(:title, "Projects") %>

<h1>Projects</h1>
<p>Sign up for an account to see everything in action.</p>
<p>Or, login using this trial account.</p>

<%= link_to signup_path do %>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
  sign up
</button>
<% end %>
