<ul class="mdl-list chat-messages-container">
    <div id="spinner-load">
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    Refresh this page if you're waiting for more than 5 seconds.
    </div>
    <div id="messages-load" class="display-none">
    <% if @messages.any? %>
       <% @messages.each do |message| %>
            
            <% if current_user?(message.user) %>
                <%= render partial:"messages/message_self", object: message, as: 'message' %>
            <% else %>
                <%= render partial:"messages/message_other", object: message, as: 'message' %>
            <% end %>
        <% end %>
    <% end %>
    </div>
</ul>

<script type="text/javascript">
$(document).on('turbolinks:load', function(){
    $('.timestring').each(function() {
      this.textContent = moment(this.textContent).format('lll');
    });
    
});
</script>