<div class="center-text"><i class="material-icons">textsms</i></div>

<% if @users.any? %>

  <ul class= "mdl-list chat-online-all" style="margin-top: 0; padding-top: 0;">
      
    <% @users.each do |user| %>
    
      
      <%= render partial: "messages/online_entry", object: user, as: 'user' %>
    
    <% end %>
<% end %>        