<% provide(:title, "Live Chat") %>

    <div class="mdl-grid main-style-2 static chat-wrapper">
          
          
        
        <div class="mdl-cell mdl-cell--9-col">
              
                <%= render 'messages/messages' %>
                <%= render 'messages/form' %>

              
        </div>
            
        <div class="mdl-cell mdl-cell--3-col mdl-cell--stretch mdl-cell--hide-tablet mdl-cell--hide-phone chat-sidebar">
                <%= render 'messages/online' %>
        </div>
    </div>

    

    
     