<p> Hi <%= @user.name %>, </p>

<p>
Thanks for being curious about my work! Please confirm your email address and activate your account by clicking this <%= link_to "link", edit_account_activation_url(@user.activation_token, email: @user.email)  %>
.</p>

<p>
Feel free to reach out to me at <%= mail_to "htay@wesleyan.edu", "htay@wesleyan.edu" %>.
</p>

Regards, <br />
Han Yang Tay
