<% provide(:title, 'All users') %>

<div class="subheader">Sign up</div>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user, class: "mdl-navigation__link" %>
      <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @users %>