<% provide(:title, @user.name) %>

<div class="subheader"><%= @user.name %></div>

<% if current_user?(@user) %>
      <%= render 'status_posts/form' %>
<% end %>

<%= @user.status_posts.count %> posts
<%= render 'status_posts/post' %>
