<div class="flash-alert-danger mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
</div>

<div id="flash-alert" class="flash-alert-info mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
</div>
    
<div id="flash-alert" class="flash-alert-success mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="flash-alert-warning mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
</div>


<% flash.each do |message_type, message| %>
  
    <script>
      r(function(){
          var snackbarContainer = document.querySelector('.flash-alert-<%= message_type %>');
          var data = { message: "<%= message %>"};
          snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });
      function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
    </script>
<% end %>


