<% provide(:title, "App Home") %>
<div class = "main-style-2">
<h1>App Home</h1>

<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone sidebar">
    <%= render 'shared/stats' %>
  </div>
  
  
  <div class="mdl-cell mdl-cell--9-col main">
    
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      
      <div class="mdl-tabs__tab-bar">
        <%= link_to "Wall", status_posts_path, class: "mdl-tabs__tab is-active" %>
      </div>

      <div class="mdl-tabs__panel is-active" id="wall-panel">
        <%= render 'status_posts/form' %>
        <%= render 'status_posts/post' %>
      </div>
      
    </div>
  </div>

</div>
</div>