<% provide(:title, "App Home") %>
<div class = "main-style-2">
<h1>App Home</h1>

<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone sidebar">
    <%= render 'shared/stats' %>
  </div>
  
  
  <div class="mdl-cell mdl-cell--9-col main">
    
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      
      <div class="mdl-tabs__tab-bar">
        <%= link_to "Wall", status_posts_path, class: "mdl-tabs__tab is-active" %>
        <a href="#news-panel" class="mdl-tabs__tab">Site News</a>
        <a href="#notifications-panel" class="mdl-tabs__tab">Notifications</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="wall-panel">
        <%= render 'status_posts/form' %>
        <%= render 'status_posts/post' %>
      </div>
      
      <div class="mdl-tabs__panel" id="news-panel">
        <ul>
          <li>Tywin</li>
          <li>Cersei</li>
          <li>Jamie</li>
          <li>Tyrion</li>
        </ul>
      </div>
      <div class="mdl-tabs__panel" id="notifications-panel">
        <ul>
          <li>Viserys</li>
          <li>Daenerys</li>
        </ul>
      </div>
      
    </div>
  </div>

</div>
</div>