@import "material";

a{
    text-decoration: none;}



/* header */

.main-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.main-header {
  overflow: visible;
  background-color: white;
  
  .mdl-layout-title {
    font-size: 24px;
    color: #8bc34a;
    text-decoration: none;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition: opacity 200ms;
    
    &::first-letter {
      color: #757575;
    }
    
    &:hover{
      opacity: 0.54;
    }
  }
    
    
  .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    height: 62px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 2px solid transparent;
    transition-timing-function: ease-in-out;
    transition: border-bottom 200ms;
    
    &:hover{
      border-bottom: 2px solid #8bc34a;
    }
  }
}

/* Header drawer */
.header-drawer {
  border: none;
  .material-icons {
      font-size: 18px;
      margin-right: 32px;
    }
}

.mdl-layout__drawer { 
  background: #fff; 
    .mdl-layout-title {
    color: #8bc34a;
    text-decoration: none;
    opacity: 1;
    transition-timing-function: ease-in-out;
    &::first-letter {
      color: #757575;
      }
    }
}

.mdl-layout__drawer-button {
  color: #757575;
  &:focus {
    outline: none;
  }
}



/* Body text */

    
.normal-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 140px 16px 0 16px;
  
  p {
    padding-top: 16px;
    font-weight: 300;
  }
  
  .centered {
    text-align: center;
  }
}



.tagline {
  font-family: Gloria Hallelujah;
}


/* About styles */
.profile {
    display: block;
    margin: auto;}
    
.subheader{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  opacity: 1.00;
  line-height: 84px;
  color: #8bc34a;
}

.about1{
  padding-top: 0px;
  font-size: 18px;
  text-align: center;
}





footer {
  text-align:center;
  font-size: 12px;
  font-family: Gloria Hallelujah;
  line-height: 24px;
  
  a{
    text-decoration: none;
    opacity: 0.54;
    transition-timing-function: ease-in-out;
    transition: opacity 200ms;
    
    &:hover{
        opacity: 1.0;
      }
    img{
      height: 16px;
      width: 16px;
      }
    }
    
    
  }

.resize{
  height: 20px;
  width: 20px;
}

/* Alerts */
.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }


/* misc */
.debug_dump {
  clear: both;
  float: left;
  width: 50%;
  padding: 16px;
  margin: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

}
