$layout-header-bg-color: #fff !default;

@import "material";


  
img {
  -webkit-border-radius: 1px; 
  -moz-border-radius: 1px; 
  border-radius: 1px; 
  width: 100%;
  height: auto;
}

body{
  color: #383838;
  background-color: #fff;
}


/* Layout */

.main-style-1 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.0em 1em 0em 4em;
}


.main-style-2 {
  width: 60%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.0em 1em 0em 2em;
}

.sidebar{
  padding: 0;
  border: 0px solid #e1e8ed;
  border-radius: 6px;
  font-weight: 300;
  font-size: 12px;
}

.main {
  padding: 0em 1em 0.5em 1em;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
}



/* Overall */

.center-image{
  display: block;
  margin: auto;
}

.center-text {
  text-align: center;
}


/* Post */

.textarea{
    width: 100% !important;
  }
  
.new_status_post{
  max-width: 30em;
  padding-left: 3.2em;
}

.postProfile {
  width: auto;
  margin-left: 0;
  margin-right: 2em;
}

.postPhoto{
  max-width: 400px;
}


/* Profile Picture */

.profile_pic{
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  width: 100%;
  max-width: 180px;
  height: auto;
}

.profile_pic_preview{
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 

  width: 180px;
  height: 180px;
  margin: 2em 0em 0.2em 7.1em;  
  object-fit: cover;
  }

.profile_pic_small{
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  
  max-width: 48px;
  height: auto;
}



/* Body text */

a{
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition: color 200ms;
  &:hover{
    color: #d81b60;
  }
  
  img{
    transition: opacity 200ms;
    &:hover{
      opacity: 0.9;
    }
  }
  
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  font-weight: 400;
  opacity: 1.00;
  color: #8bc34a;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  font-weight: 400;
  opacity: 1.00;
  color: #424242;
}

    


/* Static Page styles */
#profile {
  padding-top: 4.0em;
}

#tagline{
  padding: 0px;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

#coverpic {
    background-image: url('personal/cover.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Whisper Home */
#wordCount {
  text-align: right;
  font-weight: 300;
  color: #bdbdbd;
  margin: 0;
  font-size: 10px;
}

#afterPost{
  -ms-transform: translateY(-30px); /* IE 9 */
  -webkit-transform: translateY(-30px); /* Safari */
  transform: translateY(-30px);
}



/* Flash Alerts */

.flash-alert-success {
  background-color: #20A286;
}

.flash-alert-danger {
  background-color: #E26868;
}

.flash-alert-info {
  background-color: #81C7E1;
}

.flash-alert-warning {
  background-color: #E9CEAC;
}




/* Forms */

.mdl-textfield__error {
  color: #e57373;
}

.smallText{
  font-size: 12px;
  color: #9e9e9e;
}

#forget_password{
  font-weight: 300;
  font-size: 12px;
  padding-left: 8em;
}


/* Buttons */
.mdl-button {
  color: #616161;
}
#id {
  padding-left: 10em;
  width:30em;
  
}

/* Image Upload */
#uploadFile{
  font-size: 12px;
  width: 18em;
  display: inline;
  color: #bdbdbd;
}

.hideField{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#changeprofileWrapper {
  margin-left: 7em;
  padding-left: 2em;
  padding-bottom: 0.7em;
  max-width: 12em;
  transition-timing-function: ease-in-out;
  transition: opacity;
  cursor: pointer;
  
  &:hover {
    opacity: 0.8;
    
  }
  
}