/* header */

.mdl-layout__header{
  .mdl-navigation__link {
    color: #616161;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    height: 3.8em;
    line-height: 4em;
    background-color: transparent !important;
    border-bottom: 3px solid transparent;
    transition-timing-function: ease-in-out;
    transition: border-bottom 200ms;
    padding: 0 30px;
    
    &:hover{
      border-bottom: 3px solid #8bc34a;
    }
  }
}
.mdl-layout__header-row {
  padding: 0 10em 0 10em;
}
.main-header {
  overflow: visible;
  margin: auto;
  
  .mdl-menu__container {
    z-index: 50;
  }
  
  .mdl-layout-title {
    font-size: 24px;
    color: #8bc34a;
    text-decoration: none;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition: opacity 200ms;
    
    &:hover{
      opacity: 0.54;
    }
  }
    
  
  }